/.idea
/venv
/MICROtool.egg-info
*.pyc
.ipynb_checkpoints

# Results and images
/scripts/MonteCarlo/results
/Images

# profiling files
*.prof

# Data files
*.npy
*.pkl

# Testing overviews
/Test Results -*.html

# images
*.png

# animations
*.gif

# Dot files for hierarchy graphs
*.dot

# (Documentation) build directory
/build/

# dont push log files
*.log
