setuptools  # Packaging and installation

numpy  # Requirement for MICROtool
scipy  # Requirement for MICROtool

dmipy  # Optional requirement for MICROtool
numba  # Optional though preferred requirement for dmipy
pathos  # Optional though preferred requirement for dmipy

notebook  # Provides Jupyter Notebook
matplotlib  # Plotting
