setuptools  # Packaging and installation
numpy  # Requirement for MICROtool

scipy  # Optimization routines
notebook  # Provides Jupyter Notebook
matplotlib  # Plotting

dmipy
numba  # Preferred for DMIpy
pathos  # Preferred for DMIpy